html, body {
  color: #494949;
  background-color: #F5F5F2;
}

/** links **/
body a { color: #1674c8; }
body a:visited { color: #1675c8; }
body a:hover { color: #1366ae; }
body a:focus { outline: thin dotted; }

body .mainframe {
  width: 1239px;
}

body .elastic {
  -webkit-transition: width 0.5s ease-out;
     -moz-transition: width 0.5s ease-out;
      -ms-transition: width 0.5s ease-out;
       -o-transition: width 0.5s ease-out;
          transition: width 0.5s ease-out;
}

body .mainframe .body {
  margin-left: 236px;
  margin-right: 34px;
}

body .mainframe .body .statusbar {
  height: 24px;
  max-height: 34px;
  overflow: hidden;
  font-size: 11px;
  line-height: 17px;
  color: rgba( 0, 0, 0, 0.45 );
  padding-right: 8px;
  padding-top: 7px;
  text-align: right;
}




body .mainframe .nav {
  width: 235px;
  float: left;
  color: rgba( 0, 0, 0, 0.65 );
  margin-top: 52px;
  line-height: 28px;
  font-weight: normal;
  position: fixed;
  padding: 12px;
  opacity: 1;
  overflow: hidden;

  -webkit-border-radius: 2px 0px 0px 2px;
     -moz-border-radius: 2px 0px 0px 2px;
          border-radius: 2px 0px 0px 2px;

  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;

  -webkit-transition: all 0.35s ease-out;
     -moz-transition: all 0.35s ease-out;
      -ms-transition: all 0.35s ease-out;
       -o-transition: all 0.35s ease-out;
          transition: all 0.35s ease-out;
}

body .mainframe .nav ul li {
  cursor: pointer;
  font-size: 13px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 140px;
  overflow: hidden;
  font-family: HelveticaNeue-Condensed, Ubuntu Condensed, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}



body .mainframe .body .body-wrapper {
  padding: 33px;
  background: #FFFFFF;
  border: 1px solid #ddd;
  -webkit-border-radius: 12px;
     -moz-border-radius: 12px;
          border-radius: 12px;

  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

body .mainframe .body .body-header {
  margin-right: 34px;
}


body .mainframe .body .body-header .searchbox {
  float: right;
  background-color: white;
  width: 206px;
  padding-left: 12px;
  padding-right: 3px;
  border: 1px solid #D4D4D4;
  height: 22px;
  overflow: hidden;
  border-image: initial;


  -webkit-border-radius: 11px;
     -moz-border-radius: 11px;
          border-radius: 11px;

  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;

  -webkit-transition: all 0.5s ease-out;
     -moz-transition: all 0.5s ease-out;
      -ms-transition: all 0.5s ease-out;
       -o-transition: all 0.5s ease-out;
          transition: all 0.5s ease-out;

}


body .mainframe .body .body-header .searchbox input {
  border: 0px;
  font-size: 12px;
  height: 22px;
  width: 181px;
  padding-top: 2px;
  outline-width: 0;
  border-image: initial;
  -webkit-transition: all 0.5s ease-out;
     -moz-transition: all 0.5s ease-out;
      -ms-transition: all 0.5s ease-out;
       -o-transition: all 0.5s ease-out;
          transition: all 0.5s ease-out;

  -webkit-box-shadow: 0px 0px 0px #ffffff;
     -moz-box-shadow: 0px 0px 0px #ffffff;
          box-shadow: 0px 0px 0px #ffffff;

}

body .mainframe .body .body-header .searchbox.active,
body .mainframe .body .body-header .searchbox.active input {
  width: 321px;
}

body .mainframe .body .body-header .hint {
  display: block;
  padding-left: 0px;
  line-height: 17px;
  color: #B0B0B0;
  font-size: 12px;
  font-weight: normal;
  text-transform: none;
  text-decoration: none;
  font-family: HelveticaNeue-Light, Roboto-Condensed, sans-serif;
}

body .body .body-content {
  float: left;
  width: 615px;
}

body .body .body-side {
  float: right;
  margin-right: 34px;
  width: 221px;
}

body .mainframe .body-large .body-content {
  width: 901px;
  padding-right: 33px;
}

body .mainframe .body-large .body-side {
  display: none;
}

/** cards **/
body .card {
  margin-bottom: 34px;
  line-height: 17px;
  clear: both;
  border: 1px solid #DFDFDF;
  background-color: white;
  border-radius: 2px;
  border-image: initial;
}

body .card .card-content {
  padding: 17px;
}

body .card h2, body .card .card-title {
  font-size: 22px;
  line-height: 25px;
}

body .card a {
  text-decoration: none;
}

body .card .card-description {
  color: #b0b0b0;
  font-size: 12px;
  line-height: 17px;
}

body .card .card-description .content-description-entry {
  display: inline-block;
}

body .card .card-description a:hover {
  text-decoration: underline;
}

body .card .card-description .card-description-entry:before {
  content: '☺';
  margin-right: 2px;
}

/** display card-description-entry only on card mouseover **/
body .card .card-description-entry {
  display: none;
}

body .card:hover .card-description-entry {
  display: inline;
}


/** columns / grid system (pretty basic for now) **/
.column_0_1 {
  width: 433px;
  float: left;
  padding-right: 35px;
}

.column_1_1 {
  width: 433px;
  float: left;
}


/** rotated tab shitty thing **/
body .mainframe .nav.rotate {
  width: auto;
  margin: 0;
  float: left;
  color: rgba( 0, 0, 0, 0.65 );
  line-height: 28px;
  font-weight: normal;
  position: absolute;
  top: 300px;
  left: -55px;
  padding: 12px;
  opacity: 1;

  -webkit-border-radius: 2px 0px 0px 2px;
     -moz-border-radius: 2px 0px 0px 2px;
          border-radius: 2px 0px 0px 2px;

  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;

  -webkit-transition: all 0.35s ease-out;
     -moz-transition: all 0.35s ease-out;
      -ms-transition: all 0.35s ease-out;
       -o-transition: all 0.35s ease-out;
          transition: all 0.35s ease-out;

  -webkit-transform: rotate(-90deg);
     -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
       -o-transform: rotate(-90deg);
          transform: rotate(-90deg);
             filter: progid:DXImageTransform.Microsoft.Matrix(
                     M11=6.123031769111886e-17, M12=1, M21=-1, M22=6.123031769111886e-17, sizingMethod='auto expand');
               zoom: 1;
}

body .mainframe .nav.rotate ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body .mainframe .nav.rotate ul li {
  cursor: pointer;
  font-size: 13px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 140px;
  font-family: HelveticaNeue-Condensed, Ubuntu Condensed, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  min-width: 100px;
  float: left;
  padding: 12px 0px 12px 25px;
  background-color: white;
  border-right: 1px solid #DDD;
  border-top: 1px solid #DDD;
  border-bottom-color: transparent;
  cursor: default;
  border-image: initial;
}

body .mainframe .nav.rotate ul li:last-child {
  -webkit-border-radius: 0px 25px 0px 0px;
     -moz-border-radius: 0px 25px 0px 0px;
          border-radius: 0px 25px 0px 0px;

  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;

}

body .mainframe .nav.rotate ul li:first-child {
  border-left: 1px solid #DDD;

  -webkit-border-radius: 25px 0px 0px 0px;
     -moz-border-radius: 25px 0px 0px 0px;
          border-radius: 25px 0px 0px 0px;


  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;

}



/** misc **/
body h1 a {
  color: inherit;
  text-decoration: none;
}

body h1 {
  color: #494949;
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  text-transform: capitalize;
}

body p {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  margin-bottom: 9px;
}

body p small {
  font-size: 11px;
  color: #bfbfbf;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-weight: bold;
  color: #404040;
}

body h1 small,
body h2 small,
body h3 small,
body h4 small,
body h5 small,
body h6 small {
  color: #bfbfbf;
}

body h1 {
  margin-bottom: 18px;
  font-size: 30px;
  line-height: 36px;
}

body h1 small {
  font-size: 18px;
}

body h2 {
  font-size: 24px;
  line-height: 36px;
}

body h2 small {
  font-size: 14px;
}

body h3,
body h4,
body h5,
body h6 {
  line-height: 36px;
}

body h3 {
  font-size: 18px;
}

body h3 small {
  font-size: 14px;
}

body h4 {
  font-size: 16px;
}

body h4 small {
  font-size: 12px;
}

body h5 {
  font-size: 14px;
}

body h6 {
  font-size: 13px;
  color: #bfbfbf;
  text-transform: uppercase;
}

body ::-moz-selection { background: #494949; color: #fff; text-shadow: none; }
body ::selection { background: #494949; color: #fff; text-shadow: none; }



